{% extends "base.html" %}

{% block main %}
<div class="header">
    <img src="{{url_for( 'static', filename='geo.jpeg')}}" class="pic1">
    <h1>Rupert Scott</h1> 
    <p>@r_scott876</p>
    <p>Trelawny, Jamaica</p>
    <p>{{joined}}</p>
</div>

<div class="bio">
    I am a hardworking individual with a years experience in Web development. Contact me and let's work on some projects together.
</div>

<div class="follow-info">
    <div class="post">
        <p class="num">7</p>
        <p>Posts</p>
    </div>
    <div class="followers">
        <p class="num">100</p>
        <p>Followers</p>
    </div>
    <div class="following">
        <p class="num">200</p>
        <p>Following</p></div>
</div>

<div class="follow-btn">
    <button type="button" id="follow" class="btn">Follow</button>
</div>
{% endblock %}